<a id="popover">the popover link</a>
	<div id="popover-head" class="hide">some title</div>
	<div id="popover-content" class="hide">
	<form>
	  popover form
	  <button type="button" class="btn btn-default close-btn">Close</button>
	</form>
</div>