<div class="collapse navbar-collapse" id="topnavbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/articles.html?menu=30&section=395">About us</a></li>
    <!-- Category Menu -->
    {{view 'menu/categories' collection_name="Categories" lazy="true"}}
    {{view 'menu/collections' collection_name="Collections" lazy="true"}}
    <li><a href="/catalog/1">Catalog</a></li>
    <li><a href="/articles.html?menu=30&section=644">Press</a></li>
  </ul>
</div>