/*
 * Useful classes
 */
.margin0 {
  margin: 0px !important;
}
.margin-bottom30 {
  margin-bottom: 30px !important;
}
.margin-bottom20 {
  margin-bottom: 20px !important;
}
.margin-bottom15 {
  margin-bottom: 15px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.margin-bottom5 {
  margin-bottom: 5px !important;
}
.margin-top30 {
  margin-top: 30px !important;
}
.margin-top20 {
  margin-top: 20px !important;
}
.margin-top15 {
  margin-top: 15px !important;
}
.margin-top10 {
  margin-top: 10px !important;
}
.padding0 {
  padding: 0px !important;
}
.padding-top30 {
  padding-top: 30px !important;
}
.padding-top20 {
  padding-top: 20px !important;
}
.padding-top10 {
  padding-top: 10px !important;
}
span.lower-case {
  text-transform: lowercase;
}
/*
 * Fonts
 */
@font-face {
  font-family: UniversLightCondensed;
  src: url('../fonts/univers-light-condensed.ttf');
}
@font-face {
  font-family: futuraBold;
  src: url('../fonts/futurabold.ttf');
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: url(../images/bg4.jpg);
}
body p {
  font-size: 12px;
  line-height: 1.6;
  color: #000;
}
body > .container {
  padding-top: 117px !important;
  padding-bottom: 22px;
}
@media (max-width: 599px) {
  body > .container {
    margin-bottom: 30px;
  }
}
a {
  color: #000;
}
hr {
  margin: 0px 0px 10px 0px;
}
/*
 * Zoom Container disabled for Mobile
 */
@media (max-width: 599px) {
  .zoomContainer {
    display: none;
  }
}
.shop-btn {
  background-color: red;
  color: #fff;
  font-weight: bold;
}
.btn {
  padding: 2px 5px 2px 5px;
  margin-right: 15px;
}
.well {
  border-radius: 0px;
}
.footer {
  text-align: center;
  border-top: 1px solid #ccc;
  background: #fff;
  font-size: 11px;
  padding: 3px 0px;
}
.footer a {
  font-weight: normal;
}
/*
 * Tab Style
 */
.nav-tabs li > a {
  font-family: Arial, "MS Trebuchet", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.nav-tabs li.active > a {
  border-radius: 0px;
}
/*
 * Navigation Style
 */
.navbar {
  background-color: #000000;
  padding: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 2px 4px #000000;
  -moz-box-shadow: 0px 2px 4px #000000;
  box-shadow: 0px 2px 4px #000000;
  font-family: UniversLightCondensed, Arial, "MS Trebuchet", sans-serif;
}
.navbar .navbar-toggle {
  margin-top: 25px;
}
.navbar .navbar-brand {
  float: left;
  padding: 0px 10px 0px 38px;
  font-size: 18px;
  line-height: 20px;
  height: 82px;
}
.navbar ul.navbar-nav {
  float: right;
  margin-top: 30px;
}
@media (max-width: 599px) {
  .navbar ul.navbar-nav {
    float: none;
    margin-top: 5px;
  }
  .navbar ul.navbar-nav #last-child {
    display: none;
  }
}
.navbar ul.navbar-nav > li > a {
  font-family: UniversLightCondensed, Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 8px 17px 8px;
  margin-left: 4px;
}
@media (min-width: 680px) and (max-width: 799px) {
  .navbar ul.navbar-nav > li > a {
    font-size: 14px;
    padding: 15px 5px 17px 5px;
    margin-left: 4px;
  }
}
@media (min-width: 600px) and (max-width: 679px) {
  .navbar ul.navbar-nav > li > a {
    font-size: 12px;
    padding: 15px 5px 17px 0px;
    margin-left: 0px;
  }
}
@media (max-width: 599px) {
  .navbar ul.navbar-nav > li > a {
    padding: 15px 7px 5px 6px;
  }
}
.navbar ul.navbar-nav li ul > li > a {
  font-family: UniversLightCondensed, Arial, "MS Trebuchet", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin: 5px 10px 5px 10px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #CCC;
}
@media (min-width: 800px) and (max-width: 899px) {
  .navbar ul.navbar-nav li ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 680px) and (max-width: 799px) {
  .navbar ul.navbar-nav li ul > li > a {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 600px) and (max-width: 679px) {
  .navbar ul.navbar-nav li ul > li > a {
    font-size: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 600px) {
  .navbar ul.navbar-nav li ul li:last-child > a {
    border-bottom: 0px ;
  }
}
.navbar ul.navbar-nav li ul li a:hover {
  background: #000000;
}
.navbar ul.navbar-nav li ul li.active a {
  background: #000000;
  border-bottom: 8px solid #d02d2c;
}
.navbar ul.navbar-nav li ul li.active a:hover {
  background: #000000;
}
.navbar ul.navbar-nav li a:hover {
  background: #000000;
}
.navbar ul.navbar-nav li.active a {
  background: #000000;
}
.navbar ul.navbar-nav li.active a:hover {
  background: #000000;
}
/*
 * Home Page Carousel Style
 */
/*@carousel-margin: 10px 0px 0px 0px;
@carousel-indicator-bg: '../images/cycle_inactive.png';
@carousel-indicator-width: 9px;
@carousel-indicator-height: 9px;
@carousel-indicator-active-bg: '../images/cycle_active.png';

#carousel-home {
	margin: @carousel-margin;
	.carousel-inner {
		.item {
			text-align: center;

			img {
				display: inline-block;
				border:1px solid #000;
			}
		}
	}
	.carousel-indicators {
		bottom: -30px;
		li {
			width: @carousel-indicator-width;
			height: @carousel-indicator-height;
			border: none;
			border-radius: 0px;
			margin: 0px;
			background: url(@carousel-indicator-bg) center no-repeat;
		}
		li.active {
			background: url(@carousel-indicator-active-bg) center no-repeat;	
		}
	}
} */
/*
* product page breadcum
*/
.breadcrumb {
  position: relative;
  top: 0px;
  padding: 10px 0px;
  background-color: transparent;
  margin-bottom: 0px;
  font-size: 12px;
}
.breadcrumb a {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 10px;
  color: #000;
  text-decoration: blink;
  text-transform: uppercase;
}
.breadcrumb a:hover {
  color: red;
}
.breadcrumb a.active {
  color: #999999;
}
.breadcrumb .pull-right {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
  color: #000;
}
.img-responsive {
  width: 100%;
}
/************************ product Page ***********************/
.product-details-page h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.product-details-page .well-sm {
  font-size: 10px;
  margin-top: 4px;
  line-height: 16px;
}
.product-details-page .well-sm p {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 10px 15px;
}
#sizing span {
  text-transform: uppercase;
  font-size: 10px;
}
.roll-over-text span {
  text-transform: uppercase;
  font-size: 10px;
}
/***********************  warrenty page *************************/
.main-text {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #666666;
}
/********************** sport page ******************************/
.sport-bg {
  padding: 13px 8px 13px 16px;
  height: 389px;
  background: url('../images/bg_brand_ambassadors_new copy.png') repeat-y;
  height: 150%;
  margin-top: 10px;
}
.ambassador-details {
  color: #000;
}
.ambassador-details .details {
  font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 11px;
  line-height: 15px;
}
.ambassador-details .ambassador {
  text-transform: uppercase;
  font-size: 14px;
  font-family: futurabold, "MS Trebuchet", sans-serif;
  font-weight: bold;
  margin-bottom: 6px;
}
/**************************** about us page  and history page   *************************/
.mob-img .bg-mob-img {
  display: none;
}
@media (max-width: 599px) {
  .mob-img .bg-desktop-img {
    display: none;
  }
  .mob-img .bg-mob-img {
    display: block;
  }
}
.abt-bg {
  background: url('../images/bg_aboutus_scroll_new.png') repeat-y;
  position: absolute;
  top: 20px;
  padding: 0px 15px 0px 15px;
  color: #fff;
}
@media (max-width: 599px) {
  .abt-bg {
    position: relative;
    top: 10px;
  }
}
.abt-bg .about-text {
  font-family: futuraBold, Arial, "MS Trebuchet", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .abt-bg .about-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.abt-bg .about-text span {
  font-family: UniversLightCondensed, Arial, "MS Trebuchet", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  background: url('../images/bulletnew_categoryname.png') no-repeat right bottom 5px;
  padding-right: 12px;
}
.abt-bg .abt-size {
  width: 610px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .abt-bg .abt-size {
    padding-bottom: 0px;
    width: 387px;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .abt-bg .abt-size {
    padding-bottom: 0px;
    width: 277px;
  }
}
@media (max-width: 599px) {
  .abt-bg .abt-size {
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
  }
}
.abt-bg .abt-size .abt-text-p {
  max-height: 484px;
  overflow: auto;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .abt-bg .abt-size .abt-text-p {
    max-width: 385px;
    max-height: 315px;
    overflow: auto;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .abt-bg .abt-size .abt-text-p {
    max-height: 190px;
    overflow: auto;
  }
}
@media (max-width: 599px) {
  .abt-bg .abt-size .abt-text-p {
    max-height: none;
    text-align: left;
  }
}
.abt-bg p {
  color: #fff;
  margin-bottom: 25px;
  font-size: 14px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .abt-bg p {
    margin-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .mob-img {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/**************   catalog page ***************/
.well-sm {
  min-height: 68px;
  margin-bottom: 8px;
  padding: 10px 15px;
}
.well-sm p {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0px;
}
@media (min-width: 600px) {
  .product-list .product-unit:nth-child(3n+1),
  .product-list .product-unit:nth-child(4) {
    clear: both;
  }
}
@media (max-width: 599px) {
  .product-list .product-unit:nth-child(2n+1),
  .product-list .product-unit:nth-child(3) {
    clear: both;
  }
}
@media (min-width: 600px) {
  .product-list-1 .product-unit-1:nth-child(4n+1),
  .product-list-1 .product-unit-1:nth-child(5) {
    clear: both;
  }
}
.navbar {
  background-color: transparent;
  padding: 0px 0px 0px 0px;
}
.navbar .first-nav {
  /* First navbar */
  padding: 10px 25px 5px 25px;
  background: -webkit-linear-gradient(#525252, #232323);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#525252, #232323);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#525252, #232323);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#525252, #232323);
  /* Standard syntax */
}
.navbar .first-nav ul.navbar-nav {
  float: right;
  margin-top: 10px;
}
@media (max-width: 599px) {
  .navbar .first-nav ul.navbar-nav {
    float: none;
  }
}
.navbar .first-nav ul.navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 0px 10px;
}
@media (min-width: 800px) and (max-width: 899px) {
  .navbar .first-nav ul.navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 0px 0px 14px;
  }
}
@media (min-width: 700px) and (max-width: 799px) {
  .navbar .first-nav ul.navbar-nav > li > a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 0px 0px 10px;
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  .navbar .first-nav ul.navbar-nav > li > a {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px 0px 0px 0px;
  }
}
.navbar .first-nav ul.navbar-nav li a:hover {
  background: #000000;
  color: #ffffff;
}
.navbar .first-nav ul.navbar-nav li.active a {
  background: #000000;
  color: #ffffff;
}
.navbar .first-nav ul.navbar-nav li.active a:hover {
  background: #000000;
  color: #ffffff;
}
