
<ul>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}" class="share-facebook" target="_blank">Facebook</a></li>
  <li><a href="https://twitter.com/share?url={{shareUrl}}" class="share-twitter" target="_blank">Tweet</a></li>
  <li><a href="https://pinterest.com/pin/create/button/?url={{shareUrl}}&amp;description=message-here&amp;media={{image}}" class="share-pinterest" target="_blank">Pinterest</a></li>
</ul>