<div class="well">
  <h3 style="text-align: center;"><strong>व्दितीय अखिल भारतीय खंडेलवाल युवक-युवती परिचय सम्मेलन एवं सामुहिक विवाह&nbsp;</strong></h3>

  <hr>
  <p style="text-align: justify;"><span style="font-size:16px;">पिछले बार की तरह इस बार भी खंडेलवाल सेवा समिती, परतवाड़ा-अचलपूर&nbsp;- <strong>अखिल भारतीय खंडेलवाल युवक-युवती परिचय सम्मेलन एवं सामुहिक विवाह</strong> का आयोजन करने जा रहा है। गत सम्मेलन मे मिले सभी समाज़ बंधुओ के प्रोत्साहन को देखते हुए इस बार <strong>दिनांक</strong>&nbsp;<strong>11, 12&nbsp;एवं&nbsp;13 फरवरी 2016</strong> को सम्मेलन आयोजित करने का निश्चित हुआ है। अतः सभी समाज़ बंधुओ का खंडेलवाल सेवा समिती, परतवाड़ा-अचलपूर&nbsp;हार्दिक स्वागत करता है।</span><span style="font-size:16px;"></span><span style="font-size:16px;"></span><span style="font-size:9px;"></span><br></p>

  <br>
  <p style="text-align: justify;"><span style="font-size:16px;">​<strong>स्थान :-</strong><strong>रंगोली लॉंन्स, चिखलदरा रोड, परतवाड़ा,&nbsp;444805 जि. अमरावती (महाराष्ट्र)</strong></span><br></p>
  
</div>


<div class="well">
  <h3 style="text-align: center;"><strong>प्रत्याशी रजिस्ट्रेशन फॉर्म&nbsp;</strong></h3>

  <hr>

  <div class="txt "><p style="text-align: justify;"><span style="font-size:16px;">1. कृपया प्रत्येक फॉर्म के साथ रु. 1000/- का ड्राफ्ट या मनी ऑर्डर खंडेलवाल सेवा समिती, परतवाड़ा के नाम से कुलदिप संपतकुमारजी खंडेलवाल, वकिल लाईन, परतवाड़ा 444805 जि. अमरावती (महा.) इस पते पर भेजे। </span><br></p><p style="text-align: justify;"><span style="font-size:16px;">PNB A/c.No. 0501000101209753.&nbsp;अधिक जानकारी के लिये फोन नं. (07223) 220445 या मोबाइल नं. 9028233699, 8149820445 पर संपर्क करे।<br><br>2. युवक की आयु 21 वर्ष एवं युवती की आयु 18 वर्ष से कम ना हो यह विशेष ध्यान दे।&nbsp;</span></p><p style="text-align: justify;"><span style="font-size:16px;"></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">3.&nbsp;निचे दिये गए किसी एक&nbsp;लिंक पर क्लिक करके प्रत्याशी रजिस्ट्रेशन फॉर्म&nbsp;डाउनलोड करे। &nbsp;</span><br></p></div>



  
</div>


<div class="well">
  <div class="txt "><h3 style="text-align: center;"><strong>विज्ञापन</strong></h3></div>
  <hr>

  <div class="txt "><caption><p style="text-align: justify;"><span style="font-size:16px;">सम्मेलन मे प्रकाशित होनेवाली स्मरणिका (परिचय पुस्तिका) मे विज्ञापन देकर इस सामाजिक कार्य मे आर्थिक सहयोग प्रदान करे।<br><br>1. विज्ञापन के लिये विज्ञापनदाता को डिझाईन स्वय तयार करके पेनड्राइव / सि.डी. / समिती के ई-मेल आयडी पर भेजना अनिवार्य है।</span><br></p><p style="text-align: justify;"><span style="font-size:16px;"><br>2. &nbsp;किसी भी प्रकार की त्रुटी के लिये आयोजन समिती जबाबदार नहीं होगी।</span><br></p><p style="text-align: justify;"><span style="font-size:16px;"></span><br></p><p><strong><span style="font-size:16px;">विज्ञापन दर</span></strong><br></p></caption>

  <table class="table table-bordered">
  <tr>
  <td style="text-align: center;"><span style="font-size:16px;">कवर पेज नं. 2 मल्टीकलर<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 31000/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">कवर पेज नं. 3 मल्टीकलर&nbsp;<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 31000/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">कवर पेज नं. 4 मल्टीकलर<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 41000/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">फुल पेज मल्टीकलर&nbsp;<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 11000/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">हाफ पेज मल्टीकलर<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 6100/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">क्वार्टर पेज कलर&nbsp;<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 3100/-<br></span></td></tr><tr><td style="text-align: center;"><span style="font-size:16px;">शुभेच्छा ब्यानर मल्टीकलर<br></span></td><td style="text-align: center;"><span style="font-size:16px;">रु. 3100/-</span><br></td></tr></table>


  <p style="text-align: justify;"><br></p>

  <table class="table table-bordered"><caption><p style="text-align: center;"><strong><span style="font-size:16px;">संपर्क</span></strong></p></caption><tbody><tr><td><p style="text-align: center;"><span style="font-size:16px;">संपतकुमार तमोलिया<br></span></p><p style="text-align: center;"><span style="font-size:16px;">9028233699</span><br></p></td><td><p style="text-align: center;"><span style="font-size:16px;">रामबाबु भुकमारीया<br></span></p><p style="text-align: center;"><span style="font-size:16px;">9422159324</span><br></p></td><td><p style="text-align: center;"><span style="font-size:16px;"></span><span style="font-size:16px;">कैलाश दुसाद</span><br></p><p style="text-align: center;"><span style="font-size:16px;">9422159516<br></span></p></td></tr></tbody></table></div>



  
</div>

<div class="well">
<div class="txt "><h3 style="text-align: center;"><strong></strong><strong>आवश्यक सुचना एवं नियम</strong></h3></div>
<hr>

<div class="txt "><p style="text-align: justify;"><span style="font-size:16px;">1. परिचय सम्मेलन मे शामिल होने हेतु पंजीयन (रजिस्ट्रेशन) कराना अनिवार्य है।</span><br></p><p style="text-align: justify;"><span style="font-size:16px;"><br>2. पुस्तिका मे प्रकाशन हेतु 2 नवीनतम रंगीन पासपोर्ट साइज फोटो भेजना अनिवार्य है।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">3. परिचय पत्र के साथ प्रत्याशी के 2 पासपोर्ट साइज फोटो व शुल्क रु. 1000/- जमा कराना अनिवार्य है। (विधवा, विकलांग नि:शुल्क)<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">4. आयोजन स्थल पर प्रत्याशी के साथ 2 अभिभावक के अलावा पधारे अतिथीयों को प्रवेश शुल्क रु. 700/- अनिवार्य है।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">5. आयोजन स्थल पर समिती द्वारा चाय, नाश्ता, भोजन की व्यवस्था रहेगी।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">6. आवास व्यवस्था कॉमन हॉल मे नि:शुल्क रहेगी (उपलब्धता अनुसार) ।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">7. आवास व्यवस्था स्पेशल रूम मे सशुल्क रहेगी (उपलब्धता अनुसार) ।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">8. सम्मेलन मे आनेवाले प्रत्येक व्यक्ती को असुविधा से बचने के लिए आयोजन व आवास स्थल पर पहचान पत्र लगाना अनिवार्य रहेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">9. विधुर / तलाक़शुदा इस सम्मेलन मे हिस्सा ले सकेंगे (तलाक़शुदा का प्रमाणपत्र अनिवार्य है), साथ ही प्रतिज्ञापत्र देना होगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">10. प्रवेश पत्र एवं परिचय पुस्तिका संच प्राप्त करने हेतु सम्मेलन स्थल पर प्रत्याशी शुल्क की रसीद साथ लाना अनिवार्य है।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">11. प्रवेश पत्र गुम होने पर डुप्लीकेट बनाकर नहीं दिया जायेगा, उन्हे पुनः पंजीयन राशी भरकर ही प्रवेश प्राप्त हो सकेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">12. आयु एवं शिक्षा संबंधी प्रमाण की झेरॉक्स कॉपी अवश्य भेजे। बिना प्रमाण के शिक्षा डिग्री मंजुर नहीं होगी उसे म्येट्रिक ही समझा जायेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">13. सम्मेलन स्थल पर आनेवाले परिचय पत्र को प्रकाशित करने के लिए समिती बाध्य नहीं रहेगी।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">14. पूर्व नियोजीत संबंध के सामुहिक विवाह मे सम्मिलीत करने की सुचना दि. 05/02/2016 तक कार्यालय को मिल जानी चाहिए।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">15. समय-समय पर समिती व्दारा दी गयी सुचनाओं&nbsp;का पालन करना अनिवार्य होगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">16. समिती व्दारा सामुहिक विवाह का आयोजन किया गया है। सामुहिक विवाह मे सम्मिलीत होने हेतु वर पक्ष से रु. 7100/- और वधु&nbsp;पक्ष से रु. 5100/- विवाह शुल्क रखा गया है। विवाह मे 10 व्यक्ती नि:शुल्क सम्मिलीत हो सकेंगे।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">17. किसी भी प्रत्याशी के विवरण के बारे मे समिती को प्रत्यक्ष कोई जानकारी नहीं होती है, समिती अभिभावकों व्दारा दिये गए विवरण को ही सत्य मानती है। अतः भावुकता, विवशता, जल्दबाज़ी मे आकर संबंध स्थापित करने के पूर्व दोनों पक्ष एक दुसरे की जानकारी अवश्य प्राप्त कर लेवे। हमारा उद्देश दोनों पक्षों को समीप लाना है, विवाह पश्चात किसी भी पक्ष व्दारा उत्पन्न विवाद के लिए आयोजन समिती न तो उत्तरदायी होगी और न ही उन्हे आरोपीत किया जायेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">18. परिचय पुस्तिका मे विवरण प्रकाशन मे अधिकतम सावधानियाँ बरती जाती है, परंतु फॉर्म मे अस्पष्टता अथवा अन्य कारण से होने वाली त्रुटियों&nbsp;के लिए समिती जिम्मेदार नहीं होगी। त्रुटियाँ&nbsp;पाये जाने पर सम्मेलन के दौरान आयोजकों के ध्यान मे लाये जिससे उसे उद्घोषणा के व्दारा&nbsp;दुसरो को सुचित करने का प्रयास किया जायेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">19. सुरक्षा तथा सुविधा की दृष्टि से कृपया अपने साथ बहुमूल्य आभूषण आदि ना&nbsp;लावे। आपके वस्तुओं की सुरक्षा की जबाबदारी आपकी होगी।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">20. युवक – युवती परिचय आयोजकों व्दारा&nbsp;मंच पर कराया जायेगा। युवक और युवती को मंच पर आना अनिवार्य रहेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">21. परिचय पत्र पहुचने की अंतिम तिथी दि. 20 जनवरी 2016 है, इस समय तक प्राप्त परिचय पत्र ही पुस्तिका मे प्रकाशित किये जा सकेंगे। समय पर आनेवाले फॉर्म स्विकार करना न करना समिती पर निर्भर रहेगा।<br></span><br></p><p style="text-align: justify;"><span style="font-size:16px;">22. परिचय पत्र को भरने के बाद मे एक प्रती झेरॉक्स अपने पास रखें।&nbsp;</span></p></div>
  
</div>


