<div>
	<h1 class="text-center">खंडेलवाल सेवा समिती, परतवाड़ा-अचलपूर</h1>
	<h3 class="text-center"> कार्यकारिणी</h3>
</div>
<hr>
<div class="row">
	<div class="col-sm-6 ">
	<div class="well">
		<h2 class="text-center">अध्यक्ष</h2>
		<hr>
		<h4 class="text-center">गोविंद नारायणदासजी सिरोया</h4>
		<h4 class="text-center">9422156180, 9130356180</h4>			
	</div>
		
	</div>
	<div class="col-sm-6 ">
		<div class="well">
			<h2 class="text-center">सचिव</h2>
			<hr>
			<h4 class="text-center">राजेंद्र कन्हेय्यालाल पाटोदीया</h4>
			<h4 class="text-center">9421827601, 9764309684</h4>	
			
		</div>
					
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6 ">
	<div class="well">
		<h2 class="text-center">उपाध्यक्ष</h2>
		<hr>
		<h4 class="text-center">मनीष रमेशचंद्रजी डंगायच  - 9422234459</h4>
		<h4 class="text-center">संतोष व्दारकादासजी खुटेटा  - 9422858348</h4>
		<h4 class="text-center">मनीष मोहनलालजी भुखमारीया  - 9420718184</h4>
		<h4 class="text-center">अजय श्रीरामजी सेठी  - 9422156282</h4>	
		<h4 class="text-center">बजरंग दिपचंदजी खुटेटा  - 9890006474</h4>			
	</div>
	

	</div>
	<div class="col-sm-6 ">
		<div class="well">
			<h2 class="text-center">सह सचिव</h2>
			<hr>
			<h4 class="text-center">रितेश चंद्रकांतजी बंब  - 9923450422</h4>
			<h4 class="text-center">मुरारी मदनलालजी ताम्बी - 9422159267</h4>
			<h4 class="text-center">जयकुमार श्यामसुंदरजी घिया - 9527282808</h4>
			<h4 class="text-center">कुलदिप संपतकुमारजी तंबोलिया - 9420833337, 8149820445</h4>
			
		</div>
		
						
	</div>
	
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="well">
					<h2 class="text-center">कोषाध्यक्ष</h2>
					<hr>
					<h4 class="text-center">प्रकाशचंद्र भुरमलजी भुखमारीया </h4>
					<h4 class="text-center">9403619592</h4>	
					
				</div>
							
			</div>
			<div class="col-sm-12 ">
			<div class="well">
			<h2 class="text-center">सह कोषाध्यक्ष</h2>
					<hr>
					<h4 class="text-center">विजय सत्यनारायणजी भुखमारीया </h4>
					<h4 class="text-center">9422890314</h4>	

				
			</div>
							
			</div>
			<div class="col-sm-12 ">
				<div class="well">
					<h2 class="text-center">स्वागत अध्यक्ष</h2>
					<hr>
					<h4 class="text-center">कैलाश रामबिलासजी रावत</h4>
					<h4 class="text-center">9923108700</h4>	
					
				</div>			
			</div>
			
		</div>
			
	</div>
	<div class="col-sm-6 ">
	<div class="well">
	<h2 class="text-center">आवास-निवास व्यवस्था</h2>
		<hr>
		<h4 class="text-center">प्रदिप सिरोया  - 9423126633</h4>
		<h4 class="text-center">अनिल साकोनिया - 9423623274</h4>

		<h4 class="text-center">संदीप कुलवाल - 9890085100</h4>
		<h4 class="text-center">अमित कुलवाल  - 9420076223</h4>

		<h4 class="text-center">अमित डंगायच  - 9423125741</h4>
		<h4 class="text-center">रोशन सिरोया  - 9422941028</h4>

		<h4 class="text-center">राजेश बुसर  - 9890760076</h4>
		<h4 class="text-center">कृष्णा बड़ाया, चिखलदरा – 9423648890</h4>
		
	</div>
		



	</div>
	
</div>
