<a href="/article/{{data.id}}" class="thumbnail margin-bottom10">
	<img class="img-responsive" src="/images/image_loader_big.gif" data-src="//cdn.optcentral.com/optportal/illustrations{{data.image}}">
</a>
<p class="text-center">{{data.title}}</p>