<!DOCTYPE html>
<html>
	<head>
		<title>Index Page</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/generic-abc.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top top-navigation" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="http://philipsteinabcwebsite.shopphilipstein.com/logos/5/logo_bnd_5_1.gif"></a>
        </div>
        <div class="collapse navbar-collapse" id="topnavbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="aboutus.html" class="active">About us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
            <li><a href="catalog.html">Catalog</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="press.html">Press</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container press">
    	<!-- Breadcrumb -->
    	<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Press</a></li>
			  <li class="active">Abc</li>
			</ol>
    	<!-- Content -->
    	<div id="press-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
	          <div class="row">
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          </div>
	        </div>
	        <div class="item">
	          <div class="row">
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          </div>
	        </div>
	        <div class="item">
	          <div class="row">
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          	<div class="col-sm-4"><a href=""><img class="img-responsive" src="http://placehold.it/150x250"></a></div>
	          </div>
	        </div>
			  </div>
			  <!-- Controls -->
				<a class="left custom-carousel-control" href="#press-carousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span> Previous
				</a>
				<a class="right custom-carousel-control" href="#press-carousel" data-slide="next">
					Next <span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
    </div>
    <!-- Footer -->
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        Copyright &copy; Shinola. All Rights Reserved. | <a href="#">Terms & Privacy Policy</a> | Powered by OPT&reg;
      </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>